*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
html {
    height: 100%;
}
body {
    width: 100%;
    background: linear-gradient( #156d48, #ffffff,rgb(88, 165, 120));
}
.titre{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    color: white;
}
.main_box{
    position:absolute;
    left: 50%;
    top: 20%;
    width: 400px;
    margin-left: -200px; /* Cette valeur doit �tre la moiti� n�gative de la valeur du width */
    margin-top: -70px; /* Cette valeur doit �tre la moiti� n�gative de la valeur du height */
    border-radius: 40px 40px 40px 40px;
    border:solid;
    border-color: #156d48;
    overflow: hidden;
    background-color: white;}
form{
    margin-top: 1.5rem;
    text-align: center;
   
}
label{
    color:#156d48;
    font-weight: bold;
}
table{
    margin:0 auto;
    padding: 1rem;
}
td, th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
tr:nth-child(even){
    background-color: #f2f2f2;
}
  
tr:hover {
    background-color: #ddd;
}
  
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #156d48;
    color: white;
  }
button{
    margin-top: 0.5rem;
}


